<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>adam's game</title>
</head>
<body id="body">
    <div class="container" id="container">
        
        <div class="board" id="">
            <div class="arry" ></div>
            <div class="arry" ></div>
            <div class="arry" ></div>
            <div class="arry" ></div>
            <div class="arry" ></div>
            <div class="arry" ></div>
            <div class="arry" ></div>
            <div class="arry" ></div>
            <div class="arry" ></div>
        </div>
        
        <div id="btn2"> <a href="index.ejs"><button id="btn">Restart</button> </a></div>
        
    </div>
        <h1 name = "hel">hello</h1>
    <div class="conatiner2" id="conatiner2">
        <div class="smalldiv">

        <div class="dvi">
           <div> <h2><span id="span"></span>Win!</h2></div>
           <div> <a href="index.ejs"><button id="btn">Restart</button> </a></div>
            
        </div>
    </div>
    </div>


    <script src="index.js"></script>
     <script src="index2.js"></script>
</body>
</html>